<?xml version="1.0" encoding="utf-8"?>
<configs>
  <keyandvalue key="c:\users\wangwei\documents\visual studio 2013\Projects\EcoProject1\EcoProject1.Model\EcoProject1.ecomdl-ShownModel"></keyandvalue>
  <keyandvalue key="c:\Users\wangwei\Documents\Visual Studio 2013\Projects\EcoProject1\EcoProject1.Model\EcoProject1.ecomdl-ShownModel">782bc230-61ef-44fe-87a9-84400aba8d10</keyandvalue>
  <keyandvalue key="c:\Users\wangwei\Documents\Visual Studio 2013\Projects\EcoProject1\EcoProject1.Model\EcoProject1.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="c:\Users\wangwei\Documents\Visual Studio 2013\Projects\EcoProject1\EcoProject1.Model\frmmodel.ecomdl-ShownModel">782bc230-61ef-44fe-87a9-84400aba8d10</keyandvalue>
  <keyandvalue key="C:\Users\wangwei\Documents\Visual Studio 2013\Projects\EcoFrm\Mobapp.Model\frmmodel.ecomdl-ShownModel">fd20d4be-bea6-4925-9d38-5225f6008317</keyandvalue>
  <keyandvalue key="C:\Users\wangwei\Documents\Visual Studio 2013\Projects\EcoFrm\Mobapp.Model\frmmodel.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="C:\Users\wangwei\Documents\Visual Studio 2013\Projects\EcoFrm\Model\frmmodel.ecomdl-ShownModel">782bc230-61ef-44fe-87a9-84400aba8d10</keyandvalue>
  <keyandvalue key="C:\Users\wangwei\Documents\Visual Studio 2013\Projects\EcoFrm\Model\frmmodel.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="C:\Users\wangwei\Documents\Visual Studio 2013\Projects\mobapp\Model\frmmodel.ecomdl-ShownModel">782bc230-61ef-44fe-87a9-84400aba8d10</keyandvalue>
  <keyandvalue key="C:\Users\wangwei\Documents\Visual Studio 2013\Projects\mobapp\Model\frmmodel.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="C:\Users\wangwei\Documents\Visual Studio 2013\Projects\mobapp\Model\frmmodel.ecomdl-ViewModelDesignerStyles"></keyandvalue>
  <keyandvalue key="C:\Users\wangwei\Documents\Visual Studio 2013\Projects\mobapp\Model\frmmodel.ecomdl-ViewModelScreenSizeX">1920</keyandvalue>
  <keyandvalue key="C:\Users\wangwei\Documents\Visual Studio 2013\Projects\mobapp\Model\frmmodel.ecomdl-ViewModelScreenSizeY">1080</keyandvalue>
  <keyandvalue key="C:\Users\wangwei\Documents\Visual Studio 2013\Projects\mobapp\Model\frmmodel.ecomdl-SelectedViewModelInEditor">b2f599af-7f14-4388-9b16-fd39656e1eab</keyandvalue>
</configs>